.catalog-title__foto-user-wrapper {
  background-color: $backgroundColorTwo;
}

.catalog-title__foto-user-title {
  margin: 0;
  color: $textColorTwo;
  font-weight: 300;
  font-size: 24px;
  line-height: normal;
}

.catalog-title__description-catalog {
  margin: 0;
  line-height: 30px;
}
