.description-app__slogan {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
}

.description-app__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.description-app__benefit {
  margin: 0;
  font-weight: 700;
  color: $textColorThree;
  font-size: 18px;
  line-height: 24px;
}

.description-app__description {
  margin: 0;
}
