.download-app {
  background-color: $backgroundColorTwo;
}

.download-app__slogan {
  margin: 0;
  color: $textColorTwo;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
}

.download-app__link {
  color: $textColorTwo;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
}


.download-app__addition {
  margin: 0;
  font-weight: 300;
  color: $textColorTwo;
}
