.edit-post__wrapper {
  background-color: $backgroundColorFive;
}

.edit-post__editor {
  width: 280px;
  margin: 0 auto;
}

.edit-post__slogan {
  margin: 0 auto;
  line-height: 30px;
  text-align: center;
  width: 280px;
  margin-top: 49px;
  margin-bottom: 52px;
}

.edit-post__img-list {
  display: flex;
}

.edit-post__img-list,
.edit-post__range-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.edit-post__button {
  color: $textColorFour;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  background-color: transparent;
  border: 3px solid $textColorFour;
  border-radius: 30px;
  width: 280px;
  padding: 21px 0;
  cursor: pointer;

  &--reset {
    color: rgba($textColorOne, 0.1);
    border-color: rgba($textColorOne, 0.1);
  }
}

@media (min-width: $tablet-width) {
  .edit-post__editor {
    width: 620px;
    display: grid;
    grid-template-columns: 300px 1fr;
  }

  .edit-post__slogan {
    width: 620px;
  }

  .edit-post__image {
    grid-row: 1 / 3;
  }

  .edit-post__edit-wrapper {
    display: flex;
  }

  .edit-post__img-list {
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .edit-post__editor {
    width: 940px;
    background-color: $backgroundColorFive;
  }

  .edit-post__wrapper {
    background-color: $backgroundColorThree;
  }
}
