.effect {
  display: none;
}

.effect__title {
  margin: 0;
  color: $textColorThree;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.effect__description {
  margin: 0;
}

.effect__link {
  color: $textColorFour;
}

@media (min-width: $tablet-width) {
  .effect {
    display: block;
  }

  .effect__wrapper {
    width: 620px;
    margin: 0 auto;
    background-image: url("../../img/timer.png");
    min-height: 276px;
    background-repeat: no-repeat;
    background-position: top left;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/timer-desktop@2x.png");
      background-size: 238px auto;
    }
  }

  .effect__wrapper-content {
    width: 310px;
    margin-left: auto;
  }

  .effect__title {
    width: 168px;
    margin-bottom: 11px;
    padding-top: 41px;
  }

  .effect__description {
    margin-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .effect {
    background-color: $backgroundColorFive;
  }

  .effect__wrapper {
    width: 980px;
    background-image: url("../../img/timer-desktop.png");
    min-height: 345px;
    background-position: top left 20px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/timer-desktop@2x.png");
      background-size: 298px auto;
    }
  }

  .effect__wrapper-content {
    width: 534px;
    margin-right: 56px;
    padding-bottom: 106px;
  }

  .effect__title {
    width: 300px;
    padding-top: 93px;
    margin-bottom: 22px;
  }

  .effect__description {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
  }

  .effect__link {
    font-size: 18px;
    line-height: 30px;
  }
}
