.effect {
  display: none;
}

.effect__title {
  margin: 0;
  color: $textColorThree;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.effect__description {
  margin: 0;
}

.effect__link {
  color: $textColorFour;
}

@media (min-width: $tablet-width) {
  .effect {
    display: block;
  }

  .effect__wrapper {
    width: 620px;
    margin: 0 auto;
    background-image: url("../../img/timer.png");
    min-height: 276px;
    background-repeat: no-repeat;
    background-position: top left;
  }

  .effect__wrapper-content {
    width: 310px;
    margin-left: auto;
  }

  .effect__title {
    width: 168px;
    margin-bottom: 24px;
  }

  .effect__description {
    margin-bottom: 24px;
  }
}

@media (min-width: $desktop-width) {
  .effect {
    background-color: $backgroundColorFive;
  }

  .effect__wrapper {
    width: 980px;
    background-image: url("../../img/timer-desktop.png");
    min-height: 345px;
  }

  .effect__wrapper-content {
    width: 534px;
    margin-right: 36px;
  }

  .effect__title {
    width: 300px;
    padding-top: 115px;
    margin-bottom: 37px;
  }

  .effect__description {
    margin-bottom: 47px;
  }
}
