.form-contacts {
  margin: 0;
  padding: 0;
  border: none;
}

.form-contacts__legend {
  display: none;
  color: $textColorFour;
  line-height: 30px;
}

.form-contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form-contacts__lable {
  color: $textColorFour;
  line-height: 30px;
  text-transform: uppercase;
}

.form-contacts__input {
  font: inherit;
  color: inherit;
  font-size: 18px;
  line-height: 30px;
  padding: 0;
}
