.form-title__wrapper {
  width: 280px;
  margin: 0 auto;
}

.form-title__title-wrapper {
  background-color: $backgroundColorTwo;
  background-image: url("../../img/back-mobile.png");
  background-repeat: no-repeat;
  background-position: top;
}

.form-title__title {
  margin: 0 auto;
  color: $textColorTwo;
  font-weight: 300;
  font-size: 24px;
  line-height: normal;
  width: 280px;
  text-align: center;
  padding-top: 102px;
  padding-bottom: 51px;
}

.form-title__description-form {
  margin: 0 auto;
  line-height: 30px;
  text-align: center;
  margin-top: 54px;
}


.form-title__description-form-add {
  display: none;
}


@media (min-width: $tablet-width) {
  .form-title__title {
    width: 620px;
    font-size: 50px;
    padding-top: 191px;
    padding-bottom: 74px;
  }

  .form-title__title-wrapper {
    background-image: url("../../img/back-tablet-clean.png");
  }

  .form-title__wrapper {
    width: 490px;
  }

  .form-title__description-form {
    font-size: 18px;
    margin-top: 100px;

    &--add {
      display: inline;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-title__title {
    width: 750px;
    padding-top: 184px;
    padding-bottom: 104px;
  }

  .form-title__title-wrapper {
    background-image: url("../../img/back-desktop-clean.png");
  }

  .form-title__wrapper {
    width: 940px;
  }

  .form-title__description-form {
    width: 756px;
  }
}
