.form-achievements {
  margin: 0;
  padding: 0;
  border: none;
  background-color: $backgroundColorFive;
}

.form-achievements__wrapper {
  width: 280px;
  margin: 0 auto;
}

.form-achievements__legend {
  color: $textColorFour;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 38px;
  margin-bottom: 45px;
  text-align: center;
  width: 218px;
}

.form-achievements__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 49px;
}

.form-achievements__item:not(:last-child) {
  margin-bottom: 56px;
}

.form-achievements__lable {
  font-size: 18px;
  line-height: 30px;
  position: relative;
  display: block;
  padding-left: 57px;
  margin-top: -4px;
}

.form-achievements__input-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid $ColorOne;
  background-color: $backgroundColorThree;
  cursor: pointer;

  &:hover {
    border-color: $backgroundColorOne;
  }

  &:active {
    border-color: $textColorFour;
  }
}

.form-achievements__input[type="checkbox"]:checked + .form-achievements__input-mark::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 7px;
  width: 22px;
  height: 16px;
  background-image: url("../../img/tick.svg");
}

.content-form__footnote--add {
  display: none;
}

@media (min-width: $tablet-width) {
  .form-achievements {
    background-color: $textColorTwo;
  }

  .form-achievements__wrapper {
    width: 620px;
    border: 2px solid $ColorOne;
  }

  .form-achievements__legend {
    margin: 0 auto;
    width: fit-content;
    padding-left: 25px;
    padding-right: 25px;
    background-color: $backgroundColorThree;
    margin-top: -10px;
  }

  .form-achievements__list {
    margin-left: 59px;
    margin-top: 48px;
    margin-bottom: 56px;
  }

  .form-achievements__lable {
    padding-left: 60px;
  }

  .content-form__form {
    display: flex;
    flex-direction: column;
  }

  .content-form__name {
    order: -5;
  }

  .content-form__contacts {
    order: -3;
  }

  .content-form__platform {
    order: -4;
  }

  .content-form__submit {
    width: 620px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 69px;
  }
}

@media (min-width: $desktop-width) {
  .form-achievements__wrapper {
    width: 940px;
  }

  .content-form__form {
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .form-achievements__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 228px;
    margin-left: 54px;
    margin-top: 51px;
    margin-bottom: -60px;
  }

  .form-achievements__item {
    margin-bottom: 50px;
  }

  .content-form__submit {
    width: 940px;
  }

  .content-form__footnote--add {
    display: inline;
  }
}
