.main-header {
  background-color: $backgroundColorOne;
  padding-left: 20px;
  padding-right: 20px;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
}

.main-header__logo {
  margin-top: 22px;
  margin-bottom: 21px;
}

@media (min-width: $tablet-width) {
  .main-header__logo {
    margin-top: 27px;
    margin-bottom: 43px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    padding-left: 130px;
    padding-right: 130px;
  }

  .main-header__wrapper {
    max-width: 940px;
    margin: 0 auto;
  }
}
