.main-nav__toggle {
  position: absolute;
  padding: 0;
  top: 21px;
  right: 20px;
  border: none;
  width: 50px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 4px;
  border-radius: 1px;
  background-color: #ffffff;
  box-shadow: 0 10px 0 0 $textColorTwo, 0 20px 0 0 $textColorTwo;

  &:hover {
    background-color: $textColorFour;
    box-shadow: 0 10px 0 0 $textColorFour, 0 20px 0 0 $textColorFour;
  }

  &:active {
    background-color: rgba($textColorFour, 0.3);
    box-shadow: 0 10px 0 0 rgba($textColorFour, 0.3), 0 20px 0 0 rgba($textColorFour, 0.3);
  }
}

.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  width: 29px;
  height: 3px;
  left: 50%;
  background-color: $backgroundColorThree;

  &:hover {
    background-color: $textColorFour;
  }

  &:active {
    background-color: rgba($textColorFour, 0.3);
  }
}

.main-nav--opened .main-nav__toggle::after {
  transform: rotate(45deg);
}

.main-nav--opened .main-nav__toggle::before {
  transform: rotate(-45deg);
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--closed .main-nav__list {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    top: 43px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav--closed .main-nav__list,
  .main-nav--nojs .main-nav__list {
    margin-top: 46px;
  }

  .main-nav__toggle {
    display: none;
  }
}
