.main-footer__wrapper {
  width: 280px;
  margin: 0 auto;
  text-align: center;
}

.main-footer__link-logo {
  margin-top: 40px;
  display: block;
  margin-bottom: 38px;
}

.main-footer__logo path:hover {
  fill: $textColorFour;
}

.main-footer__logo path:active {
  opacity: 0.3;
}

.main-footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 38px;
}

.main-footer__item {
  width: 54px;
  height: 54px;
  border: 3px solid rgba($backgroundColorOne, 0.1);
  border-radius: 50%;

  &:hover {
    border: 3px solid $textColorOne;
  }

  &:active {
    opacity: 0.1;
  }
}

.main-footer__item:not(:last-child) {
  margin-right: 9px;
}

.main-footer__link-socials {
  display: block;
  width: min-content;
  padding: 18px;
}

.main-footer__madein {
  margin: 0;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-footer__madein-link {
  margin-left: 15px;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    width: 620px;
    display: flex;
    justify-content: space-between;
  }

  .main-footer__list {
    margin-top: 36px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    width: 940px;
  }

  .main-footer__link-logo {
    margin-top: 70px;
  }

  .main-footer__list {
    margin-top: 71px;
    margin-bottom: 72px;
  }
}
