.user-post {
  &--post-of-day .user-post__image {
    width: 320px;
    height: 137px;
  }
}

.user-post__image {
  display: block;
  margin: 0 auto;
}

.user-post__wrapper {
  background-color: $backgroundColorFive;
  box-sizing: border-box;
  width: 280px;
  margin: 0 auto;
  padding-left: 17px;
  padding-right: 10px;
  padding-top: 18px;
  padding-bottom: 19px;
  display: flex;
  flex-direction: column;
}

.user-post__autor {
  margin: 0;
  font-weight: 700;
}

.user-post__autor-time {
  font-weight: 300;
  font-size: 12px;
}

.user-post__post-description {
  margin: 0;
  margin-bottom: 10px;
}

.user-post__post-likes {
  margin: 0;
  display: flex;
  align-items: center;
}

.user-post__like-img {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  width: 13px;
  height: 12px;
  margin-right: 18px;
}

.user-post__like-img::before {
  content: "";
  position: absolute;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 13px;
  height: 12px;
}

.user-post__like {
  color: $textColorFour;
  font-size: 12px;
}

@media (min-width: $tablet-width) {
  .user-post--post-of-day {
    grid-column: 1 / -1;

    .user-post__wrapper {
      width: 620px;
      min-height: 121px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content min-content;
      grid-auto-flow: dense;
      margin-left: 0;
      padding-top: 23px;
      margin-bottom: 30px;
    }

    .user-post__autor {
      margin: 0;
      padding: 0;
    }

    .user-post__post-likes {
      justify-content: end;
      height: fit-content;
    }

    .user-post__like {
      margin-right: 16px;
    }

    .user-post__post-description {
      grid-column: 1 / -1;
      margin: 0;
    }

    .user-post__image {
      width: 660px;
      height: 509px;
      margin-left: -20px;
    }
  }

  .user-post__wrapper {
    width: 300px;
    min-height: 155px;
    padding-left: 30px;
    padding-top: 23px;
    padding-bottom: 24px;
  }

  .user-post__image {
    width: 300px;
    height: 300px;
  }

  .user-post__post-likes {
    justify-content: space-between;
    margin-top: auto;
  }

  .user-post__like-img {
    margin: 0;
    margin-right: 20px;
    order: 1;
  }
}

@media (min-width: $desktop-width) {
  .user-post--post-of-day {
    .user-post__wrapper {
      width: 940px;
      margin-left: -2px;
      min-height: 96px;
      margin-bottom: -4px;
    }

    .user-post__image {
      width: 1200px;
      height: 506px;
      margin-left: -130px;
    }
  }

  .user-post__image {
    height: 400px;
  }

  .user-post__wrapper {
    padding-left: 28px;
  }
}
