//Colors
$textColorOne: #283645;
$textColorTwo: #ffffff;
$textColorThree: #000000;
$textColorFour: #d22856;
$backgroundColorOne: #283645;
$backgroundColorTwo: #1d2631;
$backgroundColorThree: #ffffff;
$backgroundColorFive: #f2f2f2;
$backgroundColorSix: #2aab6d;
$ColorOne: #e5e5e5;
//Viewports
$tablet-width: 660px;
$desktop-width: 1200px;
